/* General styling */
.navbar-custom {
    background-color: rgb(177, 169, 169);
}

.container {
    margin-top: 25px;
}

/* Table styling */
.table-div {
    margin-top: 25px;
}

td, th {
    text-align: center;
}

/* Image styling */
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

li {
    list-style: none;
}

.gifStyle {
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttonStyle {
    margin-top: 10px;
}

.cardWrapper {
    width: 350px;
}