/* General styling */
.navbar-custom {
    background-color: rgb(151, 150, 150)
}

.container {
    margin-top: 25px;
}

/* Table styling */
.table-div {
    margin-top: 25px;
}

td, th {
    text-align: center;
}

/* Image styling */
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

li {
    list-style: none;
}